<div class="brand" aria-label="Pueria">
  <svg class="brand__flor" viewBox="0 0 120 120" fill="none" aria-hidden="true">
    <path class="flor__haste" d="M58 108C58 86 58.5 69 60 49" />
    <path class="flor__haste flor__haste--secundaria" d="M60 60C51 53 43 45 36 34" />
    <path class="flor__haste flor__haste--secundaria" d="M60 58C70 50 79 41 88 28" />

    <path class="flor__petala" d="M60 48C51 38 50 27 59 20C70 27 70 39 60 48Z" />
    <path class="flor__petala" d="M47 47C36 43 30 35 32 25C43 24 51 33 47 47Z" />
    <path class="flor__petala" d="M72 45C75 33 84 26 95 28C95 40 86 48 72 45Z" />
    <path class="flor__petala flor__petala--solta" d="M54 53C45 57 38 56 32 50C40 44 49 45 54 53Z" />
    <path class="flor__petala flor__petala--solta" d="M66 53C75 56 84 54 90 47C81 42 72 45 66 53Z" />

    <path class="flor__fio" d="M59 46C42 34 28 27 13 29" />
    <path class="flor__fio" d="M60 45C43 26 32 16 19 13" />
    <path class="flor__fio" d="M60 45C56 26 51 15 42 8" />
    <path class="flor__fio" d="M61 45C75 27 86 16 101 13" />
    <path class="flor__fio" d="M62 46C79 35 93 29 108 31" />
    <path class="flor__fio" d="M61 46C72 29 78 17 77 6" />

    <circle class="flor__ponto" cx="13" cy="29" r="2" />
    <circle class="flor__ponto" cx="19" cy="13" r="2" />
    <circle class="flor__ponto" cx="42" cy="8" r="2" />
    <circle class="flor__ponto" cx="101" cy="13" r="2" />
    <circle class="flor__ponto" cx="108" cy="31" r="2" />
    <circle class="flor__ponto" cx="77" cy="6" r="2" />

    <path class="flor__folha" d="M58 82C47 78 39 81 32 89C43 94 53 91 58 82Z" />
    <path class="flor__folha" d="M59 76C70 72 80 75 87 84C75 90 64 86 59 76Z" />
  </svg>

  <div>
    <strong>Pueria</strong>
    <span>Cuidado preventivo nos primeiros anos</span>
  </div>
</div>
