<div class="brand" aria-label="Pueria">
  <svg class="brand__flor" viewBox="0 0 92 92" fill="none" aria-hidden="true">
    <path class="ramo" d="M45 78C45 63 45 48 45 28" />
    <path class="ramo" d="M45 53C35 47 28 38 26 27" />
    <path class="ramo" d="M45 45C56 38 63 30 66 18" />
    <path class="petala" d="M45 28C37 19 37 10 45 6C53 10 53 19 45 28Z" />
    <path class="petala" d="M26 27C18 24 13 17 15 10C23 10 30 17 26 27Z" />
    <path class="petala" d="M66 18C64 8 69 3 78 3C81 12 76 19 66 18Z" />
    <path class="folha" d="M45 63C55 60 63 63 68 70C58 74 50 72 45 63Z" />
    <path class="folha" d="M45 57C34 58 26 63 22 72C33 74 42 68 45 57Z" />
  </svg>
  <div>
    <strong>Pueria</strong>
    <span>Primeiros anos com cuidado preventivo</span>
  </div>
</div>
